<div ng-if="main.displayFullHeader == true">
	<div class="full-header">
		<div class="top-header-row">
			<div></div>
			<div class="full-header-item full-header-name">ClassLens</div>
			<a href="/">
				<img class="header-item header-menu-icon" src="img/menu-icon.png">
			</a>
		</div>
		<div class="full-header-item review-explore-container">
			<a href="#!/review">
				<div class="header-button" ng-class="main.selectedButton == 'review' ? 'active-button' : 'disabled-button'">REVIEW</div>
			</a>
			<div class="header-divider">|</div>
			<a href="#!/explore">
				<div class="header-button" ng-class="main.selectedButton == 'explore' ? 'active-button' : 'disabled-button'">EXPLORE</div>
			</a>
		</div>
		<div class="full-header-item search-bar-container">
			<input type="text" class="search-bar" 
				   ng-if="main.selectedButton == 'explore'" 
				   ng-model="selected" uib-typeahead="item for item in searchGraph | filter:$viewValue | limitTo:8" 
				   placeholder="find careers, skills, classes..."
				   typeahead-on-select="onSelect($item, $model, $label)"></input>
			<input type="text" class="search-bar" 
				   ng-if="main.selectedButton == 'review'" 
				   ng-model="selected" uib-typeahead="item for item in searchClasses | filter:$viewValue | limitTo:8" 
				   placeholder="find courses to review..."
				   typeahead-on-select="onSelect($item, $model, $label)"></input>
			<img class="search-icon" src="img/search-icon.png">
		</div>
	</div>
</div>
<div ng-if="main.displayFullHeader == false">
	<div class="header">
		<a href="#!/teacher-home" ng-if="main.selectedButton == 'teacher'">
			<div class="header-item header-name">ClassLens</div>
		</a>
		<a href="#!/explore" ng-if="main.selectedButton != 'teacher'">
			<div class="header-item header-name">ClassLens</div>
		</a>
		<div class="header-item search-bar-container">
			<form name="searchForm">
				<input type="text" class="search-bar" 
				   ng-if="main.selectedButton == 'explore'" 
				   ng-model="selected" uib-typeahead="item for item in searchClasses | filter:$viewValue | limitTo:8" 
				   placeholder="find classes..."
				   typeahead-on-select="onSelectClass($item, $model, $label)"></input>
				<input type="text" class="search-bar" 
				   ng-if="main.selectedButton == 'review'" 
				   ng-model="selected" uib-typeahead="item for item in searchClasses | filter:$viewValue | limitTo:8" 
				   placeholder="find courses to review..."
				   typeahead-on-select="onSelect($item, $model, $label)"></input>
				<input type="text" class="search-bar" 
				   ng-if="main.selectedButton == 'teacher'" 
				   ng-model="selected" uib-typeahead="item for item in searchTeacherClasses | filter:$viewValue | limitTo:8" 
				   placeholder="find feedback on classes..."
				   typeahead-on-select="onSelectTeacherClass($item, $model, $label)"></input>
			</form>
			<img class="search-icon" src="img/search-icon.png">
		</div>
		<a href="/">
			<img class="header-item header-menu-icon" src="img/menu-icon.png">
		</a>
	</div>
</div>
