<div ng-if="main.displayFullHeader == true">
	<div class="full-header">
		<div class="full-header-item full-header-name">ClassLens</div>
		<div class="full-header-item review-explore-container">
			<a href="#!/review">
				<div class="header-button" ng-class="main.selectedButton == 'review' ? 'active-button' : 'disabled-button'">REVIEW</div>
			</a>
			<div class="header-divider">|</div>
			<a href="#!/explore">
				<div class="header-button" ng-class="main.selectedButton == 'explore' ? 'active-button' : 'disabled-button'">EXPLORE</div>
			</a>
		</div>
		<div class="full-header-item search-bar-container">
			<div class="search-bar">find courses to review...</div>
			<img class="search-icon" src="img/search-icon.png">
		</div>
	</div>
</div>
<div ng-if="main.displayFullHeader == false">
	<div class="header">
		<a href="#!/explore">
			<div class="header-item header-name">ClassLens</div>
		</a>
		<div class="header-item search-bar-container">
			<div class="search-bar">find courses to review...</div>
			<img class="search-icon" src="img/search-icon.png">
		</div>
		<img class="header-item header-menu-icon" src="img/menu-icon.png"></div>
	</div>
</div>
