<div class="review-page-container">
	<div class="review-class-container">
		<div class="review-header">REVIEWING: {{selectedClass}} {{classYear}}</div>
		<div class="review-class-question">Was this class useful to you? (required)</div>
		<div class="slider-bar">
			<rzslider rz-slider-model="slider.value"
	          rz-slider-options="slider.options"></rzslider>
	      </div>
		<div class="review-class-question">I’m comfortable using these skills after {{selectedClass}}: </div>
		<div ng-repeat="skill in classSkills">
			<div>
				<input type="checkbox" ng-click="toggleSkillsComfortable(skill)">
				<span class="review-checkbox-text">{{skill}}</span>
			</div>
		</div>

		<div class="review-class-question">I have used these skills in future classes or jobs:</div>
		<div ng-repeat="skill in classSkills">
			<div>
				<input type="checkbox" ng-click="toggleSkillsUseful(skill)">
				<span class="review-checkbox-text">{{skill}}</span>
			</div>
		</div>

		<div class="review-input">
			<div class="review-class-question">Tell us how the skills in this class have been useful to you:</div>
			<textarea ng-model="reviewText" class="review-input-box"></textarea>
			<tags-input class="review-tags-input"
						ng-model="reviewTags" 
						placeholder="Which skills does your feedback apply to?">		
			</tags-input>
		</div>
		<div class="review-input">
			<div class="review-class-question">I wish I learnt:</div>
			<textarea ng-model="wishText" class="review-input-box"></textarea>
		</div>

	<a href="#!/review" ng-click="main.reviewSubmitted = true">
		<button type="button" ng-click="submitReview()" class="submit-review-button">
			SUBMIT
		</button>
	</a>
	</div>
</div>

