a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

.course-button {
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	background: #B3C9EC;
	border-radius: 5px;
	color: #024AC1;
}

.course-button:hover {
	color: white;
	background-color: #024AC1; 
}