.edit-form-dropdown-container {
	display: flex;
	width: 500px;
	justify-content: space-between;
}

.edit-form-container {
	font-weight: bold;
}

.edit-form-dropdown {
	display: flex;
}

.dropdown-label {
	margin-right: 10px;
}

.dropdown-box {
	width: 170px;
	height: 25px;

}

.back-editing-button {
	margin-top: 0px;
}

.preview-top-banner {
	width: 100%; 
	background-color: #CDDCF3;
	display: flex;
	justify-content: center;
}

.preview-banner-text {
	color: #024AC1;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 2px;
}

.preview-banner-contents {
	display: flex;
	justify-content: space-between;
	width: 780px;
    padding: 20px;

}

.preview-form-view {
	pointer-events: none;
}