<div class="modal-overlay" ng-if="modalOn == true" ng-click="CloseClick()"></div>
<div class="class-modal" ng-if="modalOn == true">
	<img class="close-modal-icon" src="img/close.png" ng-click="CloseClick()">
	<div class="modal-title">CLASS BOOKMARKED!</div>
	<div class="modal-text">This class has been saved to your bookmarked classes. Click the button below to see it now or close this dialog to continue exploring. </div>
	<a href="#!/bookmarks">
		<div class="modal-button">MY BOOKMARKED CLASSES</div>
	</a>
</div>
<div class="modal"></div>
<div class="class-page-container">
<div class="class-title">{{selectedClass}}</div>

<div class="class-button-container">
	<a href="#!/review/{{selectedClass}}">
		<div class="class-page-button">
			<img class="class-button-icon" src="img/edit-icon.png">
			<div>WRITE A REVIEW</div>
		</div>
	</a>
	<div class="class-page-button" ng-click="modalOn = true">
		<img class="class-button-icon" src="img/bookmark-icon.png">
		<div>BOOKMARK CLASS</div>
	</div>
</div>

<div class="class-filter" ng-show="!displayFilters">
	<table class="class-filter-table">
		<tr class="class-filter-toggle" ng-click="displayFilters = true">
			<td class="class-filter-category">FILTER BY <img src="img/down-arrow.png"></td>
			<td class="class-filter-category">QUARTER/YEAR</td>
			<td class="class-filter-category">REVIEWER</td>
			<td class="class-filter-category">INSTRUCTOR</td>
		</tr>
	</table>
</div>

<div class="class-filter" ng-show="displayFilters">
	<table class="class-filter-table">
		<tr class="class-filter-toggle" ng-click="displayFilters = false">
			<td class="class-filter-category">FILTER BY <img src="img/up-arrow.png"></td>
			<td class="class-filter-category">QUARTER/YEAR</td>
			<td class="class-filter-category">REVIEWER</td>
			<td class="class-filter-category">INSTRUCTOR</td>
		</tr>
		<tr>
			<td class="class-filter-item"></td>
			<td class="class-filter-item"><input type="checkbox" name="spring-16"> Spring 2016</td>
			<td class="class-filter-item"><input type="checkbox" name="developer"> Developer</td>
			<td class="class-filter-item"><input type="checkbox" name="marty-stepp"> Marty Stepp</td>
		</tr>
		<tr>
			<td class="class-filter-item"></td>
			<td class="class-filter-item"><input type="checkbox" name="winter-16"> Winter 2016</td>
			<td class="class-filter-item"><input type="checkbox" name="data-scientist"> Data Scientist</td>
			<td class="class-filter-item"><input type="checkbox" name="mehran-sahami"> Mehran Sahami</td>
		</tr>
		<tr>
			<td class="class-filter-item"></td>
			<td class="class-filter-item">
				<div class="class-filter-button">MORE</div>
			</td>
			<td class="class-filter-item">
				<div class="class-filter-button">MORE</div>
			</td>
			<td class="class-filter-item">
				<div class="class-filter-button">MORE</div>
			</td>
		</tr>
	</table>
</div>

<div class="class-review-container">
	<div class="class-small-header">WAS THIS CLASS USEFUL?</div>


	<div class="class-small-header">SKILLS + KEY CONCEPTS</div>
	<div class="skills-container">
		<div class="skills-list">
			<div class="skill-tab" 
				 ng-repeat="skill in classSkills" 
				 ng-click="toggleSelectedSkills(skill)"
				 ng-class="selectedSkill == skill ? 'active-skill-tab' : 'disabled-skill-tab'">
				{{skill}}
			</div>
		</div>
		<div class="skills-detail">
			<div class="skills-detail-title">I'm comfortable using this skill after {{selectedClass}}:</div>
			<div class="skill-bar">
				<div class="percentage-bar">
					<div class="percentage-bar-background"></div>
					<div class="percentage-bar-fill" style="width: {{comfortableWidth}}px"></div>
				</div>
				<div class="percentage-number">{{comfortableCount}} / {{reviewCount}} students</div>
			</div>
			<div class="skills-detail-title">I've used this skill in future classes or jobs:</div>
			<div class="skill-bar">
				<div class="percentage-bar">
					<div class="percentage-bar-background"></div>
					<div class="percentage-bar-fill" style="width: {{usefulWidth}}px"></div>
				</div>
				<div class="percentage-number">{{usefulCount}} / {{reviewCount}} students</div>
			</div>
		</div>
	</div>
</div>